.addPro {margin-left: auto; margin-right: auto;}
.addPro2{margin: 40px;}
.drop{margin-left: auto; margin-right: auto;}
li {
    list-style: none;
}

.listOfCustomers{
    border: black solid 3px;
    margin: 10px;
    margin-bottom: 10%;
}